[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache 
*.user
TestResults/
*.tmp
*.orig
*[Rr]e[Ss]harper.user
_ReSharper.*/
*StyleCop.Cache
.DS_Store
Thumbs.db
__MACOSX/
/bin
/Bin
.bin/
.Bin/
App_Browsers/
*/App_Data/preview/
*/App_Data/TEMP/
*/App_Data/Logs/
*/App_Data/umbraco.config
[Cc]ached/
ClientDependency/
ExamineIndexes/
*/media/created-packages/
TestWebApp/App_Data/Logs/UmbracoTraceLog.txt
TestWebApp/media

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# VS.Net 2015
.vs/

# Solution
**/TestWebApp/*
**/TestWebApp74/*
**/TestWebApp80/*
