[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache 
*.user
TestResults/
*.tmp
*.orig
*[Rr]e[Ss]harper.user
_ReSharper.*/
*StyleCop.Cache
.DS_Store
Thumbs.db
__MACOSX/
/bin
/Bin
.bin/
.Bin/
App_Browsers/
*/App_Data/preview/
*/App_Data/TEMP/
*/App_Data/Logs/
*/App_Data/umbraco.config
[Cc]ached/
ClientDependency/
ExamineIndexes/
*/media/created-packages/
TestWebApp/App_Data/Logs/UmbracoTraceLog.txt
TestWebApp/media



